@charset "UTF-8";

@font-face {
    font-family: "Montserrat", sans-serif, 'Courier New', Courier, monospace;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap');
}

*,
*::after,
*::before {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px) {

    .header div ul,
    .header div button {
        display: none;
    }

    .ham {
        display: flex !important;
    }
}