@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .blackBtn {
        @apply text-white w-full max-w-[177px] h-12 bg-[#000] transition-all duration-[0.3s] ease-in-out;
        border: 2px solid black;
    }

    .blackBtn:hover {
        background-color: #ffffff;
        color: black;
    }

    .whiteBtn {
        @apply text-black border-solid border-2 border-zinc-950 w-full max-w-[177px] h-12 bg-white transition-all duration-[0.3s] ease-in-out
    }

    .whiteBtn:hover {
        background: black;
        color: white;
    }

    .underline {
        transition: .2s ease;
    }

    .links:hover .underline {
        @apply w-full
    }

    .socialMedia {
        @apply flex justify-center items-center w-[30px] h-[30px] bg-white rounded-full cursor-pointer;
        transition: .3s ease;
    }

    .socialMedia:hover {
        background: #FC3314;
    }

    .icon {
        transition: .3s ease;
    }

    .socialMedia:hover .icon {
        @apply invert;
    }

    .inputForm {
        @apply px-4 py-[14px] bg-white;
    }

    input,
    textarea:focus {
        outline: none;
    }

    .contactCircle {
        @apply absolute top-[50%] translate-y-[-50%] left-[-10%] max-2xl:left-[unset] max-2xl:top-[-4%] w-[221px] h-[221px] rounded-full bg-[#FC3314];
    }

    .statusAnimation {
        @apply fixed bg-white shadow-2xl rounded-lg p-2 w-[200px] h-20 bottom-[100%] overflow-hidden right-5;
        transition: ease .6s;
    }

    .true {
        @apply bottom-[86%] opacity-100;
    }

    .false {
        @apply bottom-[86%] opacity-100;
    }

    .deactive {
        @apply bottom-[100%] opacity-0;
    }

    .timeAnimation {
        @apply absolute left-0 bottom-0 w-full h-2 rounded-md;
        animation: timeAnime;
        animation-delay: 200ms;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    @keyframes timeAnime {
        0% {
            @apply w-full;
        }

        100% {
            @apply w-[0%];
        }
    }
}